body {
    font-family: sans-serif;
    
}

#controls {
    margin:auto; /* this centers */
    width: 600px;
    margin-bottom: 5px;
}
#scores {
    float: right;
}
/* all of the game happens on the stage */
#stage {
    border:1px solid black;
    margin:auto; /* this centers */
    width: 600px;
    height: 300px;
    position:relative; /* this lets us position absoutely inside of it, e.g. the bird starts at 0,0 */
    background: lightblue;
    overflow: hidden; /* this hides stuff as it's off the edges */
}

/* all the sprites are the same size */
.sprite {
    position:absolute;
    font-size:50px;
    width:50px;
    height: 50px;
}

#bird {
    z-index:10; /* above everything */
    transform: rotateY(180deg);
    top:0;
    left: 0;
    /*background-color: yellow;*/
}
#bird.dead {
    background: radial-gradient(red, transparent);
    transform: rotateX(180deg);
}

/* cars, planes, boats, they're all just obstacles */
.obstacle {
    z-index: 2; /* over the background, but below the bird */
    /*background-color: purple;*/
}

/* the plane emojis also face right, and need to be rotated */
.plane {
    transform: rotateY(180deg) rotate(45deg);
}

/* decorative backgrounds for the lanes */
.lane {
    position: absolute;
    width: 100%;
    height: 50px;
}

#planes {
    top: 5px;
    /*background: gray;*/
}

#copters {
    top: 55px;
    /*background: orange;*/
}

#bike-path {
    top:110px;
    background: brown;
    border-top: 10px solid green;
    border-bottom: 10px solid green;
}

#road {
    top:180px;
    background: black;
    border-top: 10px solid green;
    border-bottom: 10px solid green;
}

#waterway {
    top:250px;
    background: blue;
}


